<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<%- include('../layouts/top-header') %>


  <body>
    <%- include('../layouts/header') %>

      <main class="main1">
        <section class="py-0 ">
          <div class="container-fluid">
         
           <!--  <img src="/app-assets/img/slider/celebrate.png" class="img-responsive"
            style="border-radius: 12px; width: 100%;margin-bottom: 15px;   "> -->
            <div class="anly-bg"
              style=" padding:0px;   box-shadow: 0px 0px 0px 0px #eee;background-color: transparent; filter: drop-shadow(3px 3px 6px rgb(0 0 0 / 0.4));">
              <div id="" class="carousel slide" data-ride="carousel" data-interval="3000">
                <!-- <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                </ol> -->

                <div class="carousel-inner" role="listbox" style="border-radius: 10px;">
                 
                  <!-- <div class="item active">
                    <a href="/book_diya_prashad">
                    <img src="/app-assets/img/slider/banner4.png" class="img-responsive"
                      style="border-radius: 12px; height: 160px; width: 100%;">
                    </a>
                  </div> -->
                 
                  <div class="item active">
                    <img src="/app-assets/img/slider/Banner1.jpg" class="img-responsive"
                      style="border-radius: 12px; height: 160px; width: 100%;">
                  </div>
                  <div class="item">
                    <img src="/app-assets/img/slider/Banner2.jpg" class="img-responsive"
                      style="border-radius: 12px;height: 160px; width:100%">
                  </div>
                  <div class="item">
                    <img src="/app-assets/img/slider/Banner3.jpg" class="img-responsive"
                      style="border-radius: 12px;height: 160px; width:100%">
                  </div>

                </div>
                

              </div>


            </div>

            <div class="newhead">
              <span class="border-lines"></span>
              <h3> <%=lang.head_one%> </h3>
            </div>
            <!-- First service div -->
            <div class="servicesparent">
              <div class="servicesbox">
                <a href="/servicespages?page_id=1">
                  <div class="img-div">
                    <img src="/app-assets/img/services/About Ayodhya.jpg">
                  </div>
                  <div class="img-text">
                    <h4><%=lang.about_ayodhya%> </h4>
                  </div>

                </a>
              </div>

              <div class="servicesbox">
                <a href="/servicespages?page_id=2">
                  <div class="img-div">
                    <img src="/app-assets/img/services/Temple Timing.jpg">
                  </div>
                  <div class="img-text">
                    <h4><%=lang.temple_timing%> </h4>
                  </div>

                </a>
              </div>

              <div class="servicesbox">
                <a href="/servicespages?page_id=3">
                  <div class="img-div">
                    <img src="/app-assets/img/services/Must Visit Places.jpg">
                  </div>
                  <div class="img-text">
                    <h4><%=lang.must_vist%> </h4>
                  </div>

                </a>
              </div>

              <div class="servicesbox">
                <a href="/servicespages?page_id=4">
                  <div class="img-div">
                    <img src="/app-assets/img/services/Org. Structure.jpg">
                  </div>
                  <div class="img-text">
                    <h4><%=lang.org_staru%> </h4>
                  </div>

                </a>
              </div>

              <div class="servicesbox">
                <a href="/servicespages?page_id=5">
                  <div class="img-div">
                    <img src="/app-assets/img/services/Utilities.jpg">
                  </div>
                  <div class="img-text">
                    <h4><%=lang.local_uti%> </h4>
                  </div>

                </a>
              </div>

            </div>

            <!-- closed First service div -->
            <!-- Second service div -->
            <div class="servicesparent">

              <div class="servicesbox">

                <a href="https://vashishtkunj.ayodhyada.in">
                  <div class="img-div">
                    <img src="/app-assets/img/services/v1.jpg">
                  </div>
                  <div class="img-text">
                    <h4>Vasisth Kunj </h4>
                  </div>
  
                </a>
                </div>

              <div class="servicesbox">
                <a href="/homestay">
                  <div class="img-div">
                    <img src="/app-assets/img/services/Book Homestay.jpg">
                  </div>
                  <div class="img-text">
                    <h4><%=lang.book_homestay%> </h4>
                  </div>

                </a>
              </div>

              <!-- <div class="servicesbox">
                <a href="/book_diya_prashad">
                  <div class="img-div">
                    <img src="/app-assets/img/services/diyandprashad.gif">
                  </div>
                  <div class="img-text">
                    <h4><%=lang.book_diyandprasadam%> </h4>
                  </div>

                </a>
              </div> -->

              <div class="servicesbox">
                <a href="https://intercity-feed-divya-aydhya.vercel.app/">
                  <div class="img-div">
                    <img src="/app-assets/img/services/Book Cabs.jpg">
                  </div>
                  <div class="img-text">
                    <h4><%=lang.book_cab%> </h4>
                  </div>

                </a>
              </div>

              <div class="servicesbox">
                <a href="https://tour-package-divya-ayodhya.vercel.app/">
                  <div class="img-div">
                    <img src="/app-assets/img/services/Tour Packages.jpg">
                  </div>
                  <div class="img-text">
                    <h4><%=lang.tour_package%> </h4>
                  </div>

                </a>
              </div>

              <div class="servicesbox">
                <a href="https://divyaayodhya.com/sourvenir">
                  <div class="img-div">
                    <img src="/app-assets/img/services/Purchase Gifts.jpg">
                  </div>
                  <div class="img-text">
                    <h4><%=lang.purchase_gift%> </h4>
                  </div>

                </a>
              </div>
              
             <div class="servicesbox">
                <a href="/book_guide">
                  <div class="img-div">
                    <img src="/app-assets/img/services/Book Guide.jpg">
                  </div>
                  <div class="img-text">
                    <h4><%=lang.book_guides%> </h4>
                  </div>

                </a>
              </div>
 
            </div>

            <!-- End Second service div -->

            <div class="newhead" style="    margin: 0px 0px;">
              <span class="border-lines2"></span>
              <h3> <%=lang.head_two%>  </h3>
            </div>
            <div class="servicesparent1">
              <% homestay1.forEach(l => { %>
              <div class="servicesbox1">
                <a href="/homestay?search=<%=  l.property_name %>">
                  <div class="img-div1">
                    <img src="<%= stayhomeimageUrl+ l.image_path %>">
                  </div>
                  <div class="top-left">
                    <h5>Mid Range </h5>

                  </div>
                  <div class="top-right " id="favorite-<%= l.id %>">
                    <a onclick="getfavouritedata('<%= l.id%>');"><i class="fa fa-heart-o <%= l.isFavorite ? 'favorite' : 'not-favorite' %>" ></i></a>
                  

                  </div>
                  <div class="img-text1">
                    <h4><%= l.property_name %></h4>
                    <h5><%= truncateString(l.address, 40) %></h5>
                    <h4>Start Price <i class="fa fa-inr"></i>  <%= l.start_price %> / Night</h4>
                  </div>

                </a>
              </div>
              <% });  %>

            </div>

            <div class="servicesparent1">
              <% homestay2.forEach(l => { %>
              <div class="servicesbox1">
                <a href="/homestay?search=<%=  l.property_name %>">
                  <div class="img-div1">
                    <img src="<%= stayhomeimageUrl+ l.image_path %>">
                  </div>
                  <div class="top-left">
                    <h5>Mid Range </h5>

                  </div>
                  <div class="top-right" id="favorite-<%= l.id %>">
                    <a onclick="getfavouritedata('<%= l.id%>');"><i class="fa fa-heart-o <%= l.isFavorite ? 'favorite' : 'not-favorite' %>" ></i></a>
                  

                  </div>
                  <div class="img-text1">
                    <h4><%= l.property_name %></h4>
                    <h5><%= truncateString(l.address, 40) %></h5>
                    <h4>Start Price <i class="fa fa-inr"></i>  <%= l.start_price %> / Night</h4>
                  </div>

                </a>
              </div>
              <% });  %>

            </div>



            <div class="newhead1" style="    margin: 0px 0px;">
              <span class="border-lines3"></span>
              <h3> <%=lang.head_three%>  </h3>
            </div>
            <div class="servicesparent1">
              <div class="servicesbox1">
                <a href="/servicespages?page_id=3&visit_type=1">

                  <div class="img-div2">
                    <img src="/app-assets/img/must vist places/1.jpg">
                  </div>
                  <div class="img-text2">
                    <h4> <%=lang.one%> </h4>
                  </div>

                </a>
              </div>

              <div class="servicesbox1">
                <a href="/servicespages?page_id=3&visit_type=2">

                  <div class="img-div2">
                    <img src="/app-assets/img/must vist places/2.jpg">
                  </div>
                  <div class="img-text2">
                    <h4> <%=lang.two%> </h4>
                  </div>

                </a>
              </div>

              <div class="servicesbox1">
                <a href="/servicespages?page_id=3&visit_type=3">

                  <div class="img-div2">
                    <img src="/app-assets/img/must vist places/3.jpg">
                  </div>
                  <div class="img-text2">
                    <h4> <%=lang.three%> </h4>
                  </div>

                </a>
              </div>

              <div class="servicesbox1">
                <a href="/servicespages?page_id=3&visit_type=4">

                  <div class="img-div2">
                    <img src="/app-assets/img/must vist places/4.jpg">
                  </div>
                  <div class="img-text2">
                    <h4>Kanak Bhawan </h4>
                  </div>

                </a>
              </div>

              <div class="servicesbox1">
                <a href="/servicespages?page_id=3&visit_type=5">

                  <div class="img-div2">
                    <img src="/app-assets/img/must vist places/5.jpg">
                  </div>
                  <div class="img-text2">
                    <h4>Dasharath Mahal</h4>
                  </div>

                </a>
              </div>
              <div class="servicesbox1">
                <a href="/servicespages?page_id=3&visit_type=6">

                  <div class="img-div2">
                    <img src="/app-assets/img/must vist places/6.jpg">
                  </div>
                  <div class="img-text2">
                    <h4>Nageshwar Nath Temple</h4>
                  </div>

                </a>
              </div>
              <div class="servicesbox1">
                <a href="/servicespages?page_id=3&visit_type=7">

                  <div class="img-div2">
                    <img src="/app-assets/img/must vist places/7.jpg">
                  </div>
                  <div class="img-text2">
                    <h4>Kaleram Temple</h4>
                  </div>

                </a>
              </div>
              <div class="servicesbox1">
                <a href="/servicespages?page_id=3&visit_type=8">

                  <div class="img-div2">
                    <img src="/app-assets/img/must vist places/8.jpg">
                  </div>
                  <div class="img-text2">
                    <h4>Rang Mahal</h4>
                  </div>

                </a>
              </div>
              <div class="servicesbox1">
                <a href="/servicespages?page_id=3&visit_type=9">

                  <div class="img-div2">
                    <img src="/app-assets/img/must vist places/9.jpeg">
                  </div>
                  <div class="img-text2">
                    <h4>International Ramkatha Museum</h4>
                  </div>

                </a>
              </div>
            </div>

  </div>

            <div class="purshasehead" style="display: none;;">
              <h3> Purchase memory from <br> your Ayodhya Visit! </h3>
            
            <div class="servicesparent1">
              <div class="servicesbox1">
                <a href="">
                  <div class="img-div2">
                    <img src="/app-assets/img/services/Purchase Gifts.jpg">
                  </div>
                  <div class="top-left1">
                    <h5>10% off</h5>

                  </div>
                  <div class="top-right1">
                    <i class="fa fa-heart-o"></i>

                  </div>
                  <div class="img-text3">
                    <h4>Shri Ram Jan...</h4>
                    <h5><i class="fa fa-star starst"></i>&nbsp;4.5.5-7 Days</h5>
                    <h4><i class="fa fa-inr"></i>500 &nbsp;<strike style="    color: #897c73;"><i class="fa fa-inr"></i>700</strike></h4>
                  </div>

                </a>
              </div>
              <div class="servicesbox1">
                <a href="">
                  <div class="img-div2">
                    <img src="/app-assets/img/services/Purchase Gifts.jpg">
                  </div>
                  <div class="top-left1">
                    <h5>10% off</h5>

                  </div>
                  <div class="top-right1">
                    <i class="fa fa-heart-o"></i>

                  </div>
                  <div class="img-text3">
                    <h4>Shri Ram Jan...</h4>
                    <h5><i class="fa fa-star starst"></i>&nbsp;4.5.5-7 Days</h5>
                    <h4><i class="fa fa-inr"></i>500 &nbsp;<strike style="    color: #897c73;"><i class="fa fa-inr"></i>700</strike></h4>
                  </div>

                </a>
              </div>
              <div class="servicesbox1">
                <a href="">
                  <div class="img-div2">
                    <img src="/app-assets/img/services/Purchase Gifts.jpg">
                  </div>
                  <div class="top-left1">
                    <h5>10% off</h5>

                  </div>
                  <div class="top-right1">
                    <i class="fa fa-heart-o"></i>

                  </div>
                  <div class="img-text3">
                    <h4>Shri Ram Jan...</h4>
                    <h5><i class="fa fa-star starst"></i>&nbsp;4.5.5-7 Days</h5>
                    <h4><i class="fa fa-inr"></i>500 &nbsp;<strike style="    color: #897c73;"><i class="fa fa-inr"></i>700</strike></h4>
                  </div>

                </a>
              </div>
              <div class="servicesbox1">
                <a href="">
                  <div class="img-div2">
                    <img src="/app-assets/img/services/Purchase Gifts.jpg">
                  </div>
                  <div class="top-left1">
                    <h5>10% off</h5>

                  </div>
                  <div class="top-right1">
                    <i class="fa fa-heart-o"></i>

                  </div>
                  <div class="img-text3">
                    <h4>Shri Ram Jan...</h4>
                    <h5><i class="fa fa-star starst"></i>&nbsp;4.5.5-7 Days</h5>
                    <h4><i class="fa fa-inr"></i>500 &nbsp;<strike style="    color: #897c73;"><i class="fa fa-inr"></i>700</strike></h4>
                  </div>

                </a>
              </div>
 
            </div>
            <center><a href="" class=" custom-button btn btn-warning"> Explore More <i class="fa fa-arrow-right"style="float: right;"></i></a></center>













         

        </section>
      </main>


      <%- include('../layouts/footer') %>
  </body>


</html>

<script>
  function getfavouritedata(property_id)
  {
    if(property_id)
    {
      fetch('/homestaysave-favourite', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ property_id: property_id })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                      new Toasteur("top-center", 3000).success(data.message, 'Success!');
                      document.querySelector(`#favorite-${property_id}`).classList.toggle('favorite');
                    } else {
                        new Toasteur("top-center", 3000).error(data.message, 'Error!');
                        
                    }
                });
            return false;
    }
    else{
      new Toasteur("top-center", 3000).error('Something Went Wrong!', 'Error!');
       window.location.reload(true);

    }
  }
</script>


