<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<%- include('../layouts/top-header') %>

  <body>
    <div class="inner-header affix">
        <h3><a href="/"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;</a> <%= pagetitle%> <img src="/app-assets/img/services/iner-header-img.png" ></h3>

    </div>
    
    <div id="navbar-animmenu" >
      <ul class="show-dropdown main-navbar">
          <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
          <li  >
              <a href="/booking"><i class="fa fa-hotel"></i>Hotels</a>
          </li>
          <li class="active">
            <a href="/diya-booking-history"><i class="fa fa-user"></i>Diya And Prashad</a>
          </li>
          <li>
              <a href="/tour-package-booking-history"><i class="fa fa-gift"></i>Tour Packages</a>
          </li>
          <li>
              <a href="/cabs-booking-history"><i class="fa fa-car"></i>Cabs</a>
          </li>
          <li>
              <a href="guide-booking-history"><i class="fa fa-user"></i>Guide</a>
          </li>
         
          
          
      </ul>
  </div>

      <main class="main1" style="    margin-top: 15px;
      margin-bottom: 85px;
  ">
        <section class="py-0 ">
        
          <div class="container-fluid">
               
             <% if(list.length> 0)
            {
            for (let l of list)
            {
                if(l.transaction_status == 1){ 
                    var del = '<span class="btn btn-success btn-sm" style=" color: #fff;">Completed</span>';   
                    
                }else{ 
                    var del = '<span class="btn btn-danger btn-sm" style=" color: #fff;">Failed</span>';  
                    }

                    if(l.booking_amount == 1100.00)
                    {
                        var type = 'Ram Jyoti';

                    }
                    else if(l.booking_amount == 2100.00)
                    {

                        var type = 'Sita Sobha';
                    }
                    else{
                        var type = '';

                    }
                           
            %>
           
            <div class="hotelbookinghistory ">
                <div class="row">
                  <h4><b>Product Name:</b> <%= type %></h4>
                  <h4><b>Booking No.:</b> <%= l.booking_number %> </h4>
                  <h4><b>Booking Date:</b>  <%= formatDatedmy(l.booking_date) %>  </h4>
                  <h4><b>Amount :</b> <%= l.booking_amount %></h4>
                  <h4> <b>Name & Mob No:</b><%= l.name %> <b>|</b>  <%= l.mobile %></h4>
                  <h4><b>Address:</b> <%= l.state_name %> <b>|</b>  <%= l.city_name %></h4>
                <!--   <h4><b>Created Date :</b>  <%= formatDatedmyhis(l.created_at) %></h4> -->
                   <h4><b>Payment Status :</b>  <%- del %></h4>
              </div>
            </div>

            <% } } else { %>


           <div style="margin-top: 20%;">
            <center>
            <img src="/app-assets/img/services/favourite.png" style="height: 200px;">
            <h4>No Booking to show!</h4>
            <h5>You don't have any Booking <br>explore now and book your Guide.</h5>
            <a href="/" class="btn btn-danger"> Explore</a>
        </center>
           </div>
           <% } %>
           
            
         


        </div>
        </section>
      </main>


      <%- include('../layouts/footer') %>
  </body>


</html>

<script>
  // ---------horizontal-navbar-menu-----------
  var tabsNewAnim = $('#navbar-animmenu');
		var selectorNewAnim = $('#navbar-animmenu').find('li').length;
		var selectorNewAnim = $(".tabs").find(".selector");
		var activeItemNewAnim = tabsNewAnim.find('.active');
		var activeWidthNewAnimWidth = activeItemNewAnim.innerWidth();
		var itemPosNewAnimLeft = activeItemNewAnim.position();
		$(".hori-selector").css({
			"left":itemPosNewAnimLeft.left + "px",
			"width": activeWidthNewAnimWidth + "px"
		});
		$("#navbar-animmenu").on("click","li",function(e){
			$('#navbar-animmenu ul li').removeClass("active");
			$(this).addClass('active');
			var activeWidthNewAnimWidth = $(this).innerWidth();
			var itemPosNewAnimLeft = $(this).position();
			$(".hori-selector").css({
				"left":itemPosNewAnimLeft.left + "px",
				"width": activeWidthNewAnimWidth + "px"
			});
		});
</script>